@import './variables';

//Settle global base for typography

* {
    font-family: 'Montserrat', sans-serif;
    color: $color-primary;
}

a {
    text-decoration: none;
    &--underlined-link {
        text-decoration: underline;
    }
}


$font-weight: (
    light: 400,
    regular: 500,
    bold: 700,
);