// Colors //
$color-primary :     #FF6060;
$color-secondary :   #C4C4C4;
$background-color :  #F6F6F6;


// Gradient //
$gradient-to-black : linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

//Breakpoints for responsive
$breakpoints: (
    smartphone: 768px,
    tablet: 1024px,
);