@import "../../sass-styles/main";

.rental-section {
    width: 86%;
    margin: auto;
    background-color: $background-color;
    padding: 60px 50px;
    @include rounded-corner-big;
    &__cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    }
}
