@import '../../sass-styles/main';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    &__logo {
        width: 122px;
        padding-top: 4%;
    }
    &__disclaimer {
        font-size: 24px;
        color: #ffffff;
        padding: 1% 0%;
    }
}