.banner {
    position: relative;
    width: 86%;
    height: 223px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include rounded-corner-big;
    overflow: hidden;
    @include smartphone-responsive {
        justify-content: flex-start;
        height: 111px;
        margin: 20px auto;
        @include rounded-corner-medium;
    }
    @include tablet-responsive {
        margin: 40px auto;
    }
    &--higher {
        @include smartphone-responsive {
            justify-content: flex-start;
            height: 223px;
            margin: 20px auto;  
        }
    }
    &::before{
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 0;
        content:"";
        background-color: black;
        opacity: 30%;
    }
    &__img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }
    &__title {
        position: absolute;
        padding: 5%;
        color: white;
        font-size: 48px;  
        font-weight: map-get($font-weight, regular);
        @include text-shadow;
        @include smartphone-responsive {
            font-size: 24px;
        }
        @include tablet-responsive {
            text-align: center;
            margin: 30px auto;
        }
    }
}