.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    margin-top: 50px;
    &__logo {
        width: 122px;
        padding-top: 4%;
    }
    &__disclaimer {
        font-size: 24px;
        color: #ffffff;
        padding: 1% 0%;
        @include smartphone-responsive {
            font-size: 12px;
        }
        @include tablet-responsive {
            font-size: 18px;
        }
    }
}